django>=2.0,<2.1
django-autocomplete-light>=3.3.0-rc1
django-formtools
django-localflavor>=2.0
django-mass-edit>=3.1
django-phonenumber-field>=2.0.0
-e git+https://github.com/groveco/django-sql-explorer.git@cfdc88c7ad41adbdaaab848884ea38830d8a0590#egg=django-sql-explorer
gunicorn
influxdb
matplotlib
numpy
pandas
python-usps2>=0.2
raven
reportlab
