django>=1.10
django-formtools
django-localflavor
django-mass-edit
-e git+https://github.com/groveco/django-sql-explorer.git@e681502411f933ac375d8b563924068513941ee7#egg=django-sql-explorer
gunicorn
python-usps2>=0.2
